@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
ul,
li{
    list-style: none;

}

a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
    
}
.nav-links a:hover,
.socials p:hover{
    color: #0A9BD3;
    transition: 700ms;
}
html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
button{
    background: #0A9BD3;
    padding: 1.25rem 5rem;
    border-radius: 5px;
    border: none;
    color: white;

    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1.5rem;
}
/* PRELOADER */
/* #preloader{
    background: #ffffff;
    height: 100vh;
    background-size: 30%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    overflow: hidden;
} */
#preloader{
    background: #fbfafa;
    height: 100vh;
    background-size: 20%;
    width: 100%;
    position: fixed;
    z-index: 100000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bounce{
    animation: bouncing 1s ease-in-out infinite;
    
}

@keyframes bouncing {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}
/* body{
  display: flex;
  flex-direction: column;
  gap: 1000px;
} */
/* HEADER */
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1440px; */
    padding-block: 1.5rem;
    margin: auto;
    padding-inline: 3%;
    z-index: 100;
    background: #ffffff;
    
}
/* nav .nav-links{
    display: flex;
    gap: 39px;
} */
/* MOBILE NAV */

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    
    
    appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 3.4px;
	background-color: #131D3B;
	margin: 6px 0px;
	transition: 0.4s;
}
.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	z-index: 98;
	background-color: rgb(253, 253, 255);
	padding-top: 120px;
	transition: 0.6s;
    margin-inline: auto;
}

.mobile-nav.is-active {
	left: 0;
}

.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 2rem;
	text-align: center;
	/* padding: 12px 16px;
	background: #eaeae9; */
    border-radius: 4px;

	color: #2F3A3B;
    font-size: 1rem;
    font-weight: 500;
	text-decoration: none;
}
.mobile-nav .login-btns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mobile-nav a:hover {
	background-color: rgb(11, 10, 13) 11, 15);
}

@media (min-width: 864px) {
	.mobile-nav {
		display: none;
	}

	.hamburger {
		display: none;
	}



}

nav .nav-links{
    display: flex;
    gap: 2.2rem;
    
}

/* nav > .login-btns {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem auto;
} */
.nav-links li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: rgb(255, 252, 252);
    transition: 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;
}
@media (max-width: 864px) {
	nav .nav-links {
		display: none;
	}

}


/* FIRST CONTAINER */
.first-container{
    background-image: url(./images/1st-cont.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.f-container-info{
    max-width: 1440px;
    padding-block: 2rem 4.4rem;
    display: flex;
    margin: auto;
    align-items: center;
    
}
/* .f-cont1{
    flex: 3;
}
img[src*="forcont1.png"]{
    flex: 1;
} */
.f-cont1 h1{
    font-size: 3.5rem;
    font-weight: 700;
    font-family: poppins;
    line-height: 79px;
    background: linear-gradient(to right, #2E368F, #0A9BD3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 1.5rem;
}
.f-container-info img{
    width: 99%;
}
/* SECOND CONTAINER */
.sec-container-info{
    max-width: 1440px;
    padding-block: 6rem;
    display: flex;
    margin: auto;
    
}
img[src*="cont2.svg"]{
    width: 99%;
}
.sc-1 h2{
    margin-bottom: 0rem;
    font-size: 3.5625rem;
    font-weight: 700;
    line-height: 69.83px;
    color: #0A9BD3;

}
.sc-f-info span{
    color: #2E368F;
}
.sc-f-info img{
    position: absolute;
}
.sc-f-info{
    margin-bottom: 1.5rem;
}
#info{
    margin-block: 2.12rem 2.75rem;
    margin-left: 3.31rem;
}
.sc-1 p{
    margin-bottom: 0rem;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
}
.sc-1 .flex-it{
    display: flex;
    gap: 1.16rem;
    align-items: center;
    margin-bottom: 1.06rem
    
}
/* THIRD SECTION */
.thirdsection{
    background-color: #F5F5F5;
}
.third-section-info{
    max-width: 1440px;
    padding-block: 6rem;
    
    margin: auto;  
}
.services{
    /* max-width: 1300px;
    margin: auto; */
    margin-inline: 10%;
}
.services-info{
    display: flex;
    flex-wrap: wrap;
    
    
    gap: 1.5rem;
    margin-block: 3.25rem;
}
.services-img{
    position: relative;
    width: 21.875rem;
    background: #ffffff;
    padding-bottom: 1rem;
    transition: transform 700ms;
}
.services-img:hover{
    transform: translateY(-0.5rem)
}
.services-img h3{
    margin-left: 2.19rem;
}
.services-img p{
    margin-bottom: 0rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #131D3B;
}
.tflex{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}
#tflex{
    margin-bottom: 4rem;
    margin-left: 2.19rem;
}
.services-img a{
    position: absolute;
    bottom: 1rem;
    font-size: 1rem;
    color: #0A9BD3;
    margin-left: 2.19rem;
}
/* FOURTH CONATAINER */
.fourth-container{
    background-color: #F5F5F5;
}
.fourth-container-info{
    max-width: 1440px;
    padding-block: 0rem 6rem;
    
    margin: auto;  
}
.choose-Us-info{
    display: flex;
    gap: 2.2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    /* margin: auto; */
    margin-inline: 10%;
    
}
.chooseUs{
    width: 352px;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-block: 2.5rem;
    background: #ffffff;
    padding-inline: 1.25rem 1.5rem;
    
}
.chooseUs h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: #131D3B;
}
/* FOOTER */
.footer-info{
  padding-inline: 5%;
  display: block;
  margin: auto;
}
footer p{
    /* font-family: 'Gilroy'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    align-items: center;
    
    color: #D8D8DA;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 3.2rem 6.8rem;
}
.socials{
    display: flex;
    gap: 3.75rem;
}
.socials a{
    font-size: 1rem;
    line-height: 1.5rem;
}



.container6{
    padding: 110px 0 60px;
}

footer{
    bottom: 0px;
    padding: 30px;
    background: #1C1F2A;
}

hr{
    margin-bottom: 20px;
    color: #ffffff;
}


footer a{
    text-decoration: none;
    color: white;
}
.c-rights{
    display: flex;
    justify-content: space-between;
    margin-block: 2.19rem 4.25rem;
}
.c-rights a{
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #CCCCCC;
    font-weight: 400;
}
.socialss{
    display: none;
}
@media screen and (max-width: 1281px) and (min-width: 1279px) {
    .f-cont1 h1{
        font-size: 3.2rem;
        line-height: 65px;
    }
}

@media screen and (min-width: 1037px) {
    /* header{
        padding-inline: 3%;
    } */
    .f-container-info{
        padding-inline: 3%;
    }
    /* .f-cont1 h1{
        font-size: 2.8rem;
    } */
    .first-container img{
        max-width: 600px;
    }

    /* Second Section */
    .sec-container-info{
        padding-inline: 3%;
    }
    /* third section    */
    .third-section-info{
        padding-inline: 3%;
    }
    /* Fourth */
    .services {
        margin-inline: 5%;
    }
    /* Fift */
    .fourth-container-info{
        padding-inline: 3%;
    }
    /* SIX */
    .choose-Us-info{
        margin-inline: 5%;
    }
}


@media screen and (max-width: 900px) {
    .f-container-info{
        padding-inline: 3%;
        gap: 1.15rem;
        flex-wrap: wrap;
    }
    .sec-container-info{
        padding-inline: 2%;
        gap: 1.15rem;
        flex-wrap: wrap;  
    }
    .foot{
        flex-wrap: wrap;
    }
    .socials{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 550px){
    img[src*="LUMENs.svg"]{
        height: 1.65rem;
    }
    .f-container-info{
        padding-block: 1.6rem;
    }
    .f-cont1 h1{
        font-size: 2rem;
        line-height: 39.62px;
    }
    button{
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.625rem 2.5rem;
    }
    .sc-1 h2{
        font-size: 1.5rem;
        line-height: 29.71px;
    }
    .sc-f-info img{
        width: 130px;
    }
    .sec-container-info{
        padding-block: 1rem;
    }
    .sc-1 p{
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    #info{
        margin-left: 0rem;
        margin-block: 0.5rem 1rem;
    }
    .sc-1 .flex-it{
        margin-bottom: 0.5rem;
    }
    .third-section-info{
        padding-block: 1.27rem 0.25rem;
        padding-inline: 2%;
    }
    .services{
        margin-inline: 1%;
    }
    /* .services-img img{
        width: 99%;
    } */
    .sc-f-info{
        margin-bottom: 1rem;
    }
    .chooseUs img{
        height: 1.25rem;
    }
    .chooseUs h3{
        font-size: 0.75rem;
        margin: 0px 0px 0px 0px;
    }
    .chooseUs{
        padding: 1.19rem;
        width: 10.8125rem;
    }
    .choose-Us-info{
        margin-inline: 0.2%;
        margin-top: 1rem;
        gap: 0.25rem;
    }
    .fourth-container-info{
        padding-block: 0rem 3.25rem;
    }
    .fourth-container-info{
        padding-inline: 2%;
    }
    /* Footer */
    img[src*="images/LUMEN 1 (1).png"]{
        height: 1.4375rem;
    }
    .foot{
        padding-block: 1.5rem 2rem;
        margin-block: 0rem 0rem;
        padding-inline: 1.25rem;
    }
    .socials{
        display: none;
    }
    .socialss{
        display: block;
        margin-left: 1.25rem;
    }
    footer{
        padding: 0px;
    }
    .footer-info{
        padding-inline: 0%;
    }
    .c-rights{
        display: flex;
        flex-direction: column;
        padding-left: 1.25rem;
        gap: 1rem;
        margin-block: 0rem 0rem;
        padding-bottom: 2rem;
        
    }
}

