@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
  /* max-width: 1440px; */
  margin: auto;
}
.top {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 48px 80px -2px rgba(3, 0, 77, 0.04);
  width: 1440px;
  height: 104px;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* li {
  float: right;
} */

li a {
  /* font-family: "Gilroy"; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #1b1c15;
  display: block;
  padding: 8px;
  text-decoration: none;
}
.nav-links a:hover,
.socials p:hover{
    color: #0A9BD3;
    transition: 700ms;
}
html {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* HEADER */
 /* HEADER */
nav{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
/* max-width: 1440px; */
padding-block: 2rem;
margin: auto;
padding-inline: 4%;
z-index: 100;
background: #ffffff;

}
/* nav .nav-links{
display: flex;
gap: 39px;
} */
/* MOBILE  */

.hamburger{
position: relative;
display: block;
width: 35px;
cursor: pointer;


appearance: none;
background: none;
outline: none;
border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
content: '';
display: block;
width: 100%;
height: 3.4px;
background-color: #131D3B;
margin: 6px 0px;
transition: 0.4s;
}
.hamburger.is-active:before {
transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
transform: rotate(45deg) translate(-8px, -7px);
}

.hamburger.is-active .bar {
opacity: 0;
}

.mobile-nav {
position: fixed;
top: 0;
left: 100%;
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
z-index: 98;
background-color: rgb(253, 253, 255);
padding-top: 120px;
transition: 0.6s;
margin-inline: auto;
}

.mobile-nav.is-active {
left: 0;
}
.m-nav-links{
display: flex;
flex-direction: column;
}

.mobile-nav a {
display: block;
width: 100%;
max-width: 200px;
margin: 0 auto 2rem;
text-align: center;
/* padding: 12px 16px;
background: #eaeae9; */
border-radius: 4px;

color: #2F3A3B;
font-size: 1rem;
font-weight: 500;
text-decoration: none;
}
.mobile-nav .login-btns{
display: flex;
flex-direction: column;
gap: 1rem;
}
.mobile-nav a:hover {
background-color: rgb(11, 10, 13) 11, 15);
}

@media (min-width: 864px) {
.mobile-nav {
display: none;
}

.hamburger {
display: none;
}



}

nav .nav-links{
display: flex;
gap: 2.2rem;

}

/* nav > .login-btns {
display: flex;
justify-content: space-evenly;
margin: 1rem auto;
} */
.nav-links li a::after {
content: '';
display: block;
height: 3px;
width: 0;
background: rgb(255, 252, 252);
transition: 0.5s;
}
.nav-links li a:hover::after{
width: 100%;
}
@media (max-width: 864px) {
nav .nav-links {
display: none;
}

}

.container1 {
  position: relative;
  /* width: 1440px; */
  height: 498px;
  background-repeat: no-repeat;
  background-image: url("./images/electric.png");
  background-size: cover;
}

.container1 img{
  position: absolute;
  top: 430px;
  left: 30px;
  width: 150px;
}

.container1 h1 {
  /* font-family: "Gilroy"; */
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  padding-top: 13rem;
  color: #ffffff;
}
.choose{
  display: none;
}
.container2{
  margin-top: 50px;
padding: 3%;
}
.container2{
margin-top: 50px;
  padding: 3%;
  max-width: 1440px;
  margin: auto;
}

.container2 p{
max-width: 860px;
/* font-family: 'Gilroy'; */
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
/* or 148% */
padding: 30px 0 0;

color: #000000;
}

.container2 h1{
/* font-family: 'Gilroy'; */
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
/* identical to box height */
margin: 40px 0  0;

color: #0A9BD3;
}

.container2 img{
margin-right: 8px;
}


#rectangle{
margin-bottom: 10px 0 20px;
}

.container3{
margin-top: 40px;
display: flex;
flex-wrap: wrap;
gap: 0.5rem;
}

.container3 a{
width: 310px;
padding-block: 1.25rem;
padding-inline: 1.5rem;
background: transparent;
border: 0.1px solid #0A9BD3;
border-radius: 4px;
text-decoration:  none;
color: black;

text-align: center;
font-weight: 700;
line-height: 1.5rem;
transition: transform 700ms;

}
.container3 a:hover{
color: white;
background: #0A9BD3;
transform: translateY(-0.31rem)
}

/* FOOTER */
.footer-info{
padding-inline: 5%;
display: block;
margin: auto;
}
footer p{
  /* font-family: 'Gilroy'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  align-items: center;
  
  color: #D8D8DA;
}
.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 3.2rem 6.8rem;
}
.socials{
  display: flex;
  gap: 3.75rem;
}
.socials a{
  font-size: 1rem;
  line-height: 1.5rem;
}



.container6{
  padding: 110px 0 60px;
}

footer{
  bottom: 0px;
  padding: 30px;
  background: #1C1F2A;
}

hr{
  margin-bottom: 20px;
  color: #ffffff;
}


footer a{
  text-decoration: none;
  color: white;
}
.c-rights{
  display: flex;
  justify-content: space-between;
  margin-block: 2.19rem 4.25rem;
}
.c-rights a{
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #CCCCCC;
  font-weight: 400;
}
.socialss{
  display: none;
}
@media screen and (max-width: 550px){
img[src*="LUMENs.svg"]{
    height: 1.4375rem;
}
.container1{
  height: 180px;
}
img[src*="Group 52350.png"]{
  display: none;
}
.container1 h1{
    font-size: 2rem;
    line-height: 39.62px;
    padding-block: 5rem;
}
/* Drop Down */
.choose {
  margin-inline: auto;
  display: block;
  padding-inline: 3%;
  max-width: 21.6875rem; 
  margin-top: 1rem;
  /* background: #d9d9d9; */
  /* margin : 40px 0;  */
}
.slide hr{
  color: #0A9BD3;
  margin: 0.1rem 0;
}

span {
  max-width: 21.6875rem;
  padding : 0.7rem;
  background : transparent; 
  color : rgb(21, 20, 20);
  font-size : 0.875rem;
  /* font-variant : small-caps; */
  cursor : pointer;
  border: 0.5px solid #0A9BD3;
  border-radius: 0.25rem;
  display: block;
}
.slide li a{
  font-size: 14px;
  line-height: 16.48px;
}

span::after {
  float: right;
  right: 10%;
  padding-left: 5px;
  content: "˅";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: scroll;
  text-align: center;
  transition: height .4s ease;
}

.slide li {padding : 0.1rem;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 
.container2{
  margin-top: 0.1rem;
  
}
.container2 p{
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  padding: 5px 0 0;
}
.container2 h1{
  font-size: 1.425rem;
  margin: 0rem 0 0;
}
.container3{
  display: none;
}
.sc-f-info{
  margin-bottom: 1rem;
}
.sc-f-info h1{
  line-height: normal;
}
.sc-f-info img{
  position: absolute;
}


/* Footer */
img[src*="images/LUMEN 1 (1).png"]{
    height: 1.4375rem;
}
.foot{
    padding-block: 1.5rem 2rem;
    margin-block: 0rem 0rem;
    padding-inline: 1.25rem;
}
.socials{
    display: none;
}
.socialss{
    display: block;
    margin-left: 1.25rem;
}
footer{
    padding: 0px;
}
.footer-info{
    padding-inline: 0%;
}
.c-rights{
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    gap: 1rem;
    margin-block: 0rem 0rem;
    padding-bottom: 2rem;
    
}
.socialss *{
    margin-bottom: 1rem;
}
}